.chat-main
  .chat-main_header
    .chat-main_header_left
      .chat-main_header_left_text
        = @group.name
        %ul.left-header__members
      .chat-main_header_left_member
        Member:
        %li.member
          - @group.group_users.each do |group_user|
            = group_user.user.name
    .chat-main_header_right
      = link_to "/groups/#{@group[:id]}/edit" ,class: "chat-main_header_right_button" do
        Edit
  
  .chat-main_message
    = render @messages
  
  .chat-main_form
    = form_for [@group, @message] do |f|
      .chat-main_form_box-left
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .image
          = f.label :image, class: 'form__mask__image' do
            = icon('fas', 'image',class:'icon')
            = f.file_field :image, class: 'hidden'
        .chat-main_form_submit
          = f.submit 'Send', class: 'form__submit'