.chat-side
 .chat-side_header
  .chat-side_header_top
   .chat-side_header_top_user-name
    = current_user.name
   .chat-side_header_top_icons-edit
    = link_to new_group_path ,class: "link" do
     = icon('fas', 'edit')
    = link_to edit_user_path(current_user) ,class: "link" do
     = icon('fas', 'cog', class: 'icon')

 .chat-side_groups
  - current_user.groups.each do |group|
   .chat-side_groups_chat-group
    = link_to group_messages_path(group) do
     .chat-side_groups_chat-group_name
      = group.name 
     .chat-side_groups_chat-group_message
      = group.show_last_message